*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#game{
    font-size: 62px;
    width: 300px;
    // margin-left:  auto;
    // margin-right: auto;
    margin-top: -10%;
    margin-bottom: 50px;
    background-color: bisque;
    border-collapse: collapse;
    
}
#game td{
    width: 100px;
    height: 100px;
    border: 1px solid;
    text-align: center;
}

.winner-text{
    transform: scale(0);
    color: brown;
    margin-top: 20%;
    font-size: 60px;
    transition-duration: 1s;
}
.hidden{
    display: none;
}
span {
    font-size: 100px;
}
.box-btn {
    width: 100%;
    margin-top: 15%;
    transform: scale(0);
    transition-delay: 1.5s;
    transition-duration: 1.5s;
}
.btn-next__game {
    display: block;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 10px;
    background-color: brown;
    color: burlywood;
}

.img-line-box {
    display: none; 
   

    &__position1{
       margin-top: -309px;
       margin-left: 27px;
    }
    &__position2{
        margin-top: 82px;
        margin-left: 27px;
    }
    &__position3{
        margin-top: 80px;
       margin-left: 27px;
    }
    &__position4{
        margin-top: -278px;
        margin-left: -193px;
    }
    &__position5{
        margin-top: -369px;
        margin-left: 7px;
    }
    &__position6{
        margin-top: -369px;
        margin-left: 200px;
    }
    &__position7{
        margin-top: -393px;
        margin-left: -2px;
    }
    &__position8{
        margin-top: -381px;
        margin-left: 9px;
    }
}
.path1,.path2, .path3, .path4, .path5, .path6{
    stroke-dasharray:381px;
    stroke-dashoffset: 381px;
    
}
.path7, .path8{
    stroke-dasharray:524px;
    stroke-dashoffset: 524px;
}

@keyframes anim-line {
100% {
    stroke-dashoffset: 0px;
}
}